<h1><%= @restaurant.name %></h1>
<p>Address: <%= @restaurant.address %></p>
<p>Tel: <%= @restaurant.phone_number %></p>
<p>Cuisine: <%= @restaurant.category %></p>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> - <%= review.rating %> stars</li>
  <% end %>
</ul>
<br>
<p><strong></strong></p>
<%= render "reviews/form", restaurant: @restaurant, review: @review %>
